  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
  }

  .banner {

      position: fixed;
      top: 70px;
      left: 50%;
      transform: translatex(-50%);
      background: #7610d6;
      color: #fff;
      padding: 10px 16px;
      border-radius: 8px;
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 12px;
      z-index: 1000;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
  }


  .banner p {
      margin: 0;
  }

  .banner-close {
      background: none;
      border: none;
      font-size: 14px;
      cursor: pointer;
  }

  body {
      background: #0a0a0a;
      color: #fff;
      background-image: url(./img/img.portifolio.jpg);
      background-size: cover;


  }

  .secao {
      padding: 100px 0;
      padding-left: 50px;

  }


  header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 50px;
      height: 5px;
      width: 100%;
      position: fixed;
      background: #000000;
      z-index: 1000;


  }

  ul {
      display: flex;
      gap: 50px;
      list-style: none;
      color: #6a0dad;

  }

  ul a {

      color: #6a0dad;
      text-decoration: none;
      position: relative;
      font-size: 22px;
      font-weight: 500;
      transition: 0.3s;
  }

  ul a::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 0;
      height: 2px;
      background: #6a0dad;
      transition: 0.3s;
  }

  ul a:hover::after {
      width: 100%;
  }



  .principal {
      display: flex;
      align-items: center;
      margin-left: 50px;
      min-height: 80vh;

  }

  .principal h1 {
      font-size: 80px;
      line-height: 1.1;
      margin-bottom: 20px;
      letter-spacing: -2px;

  }

  .principal h1 span {
      color: #6a0dad;
      font-family: "Dancing Script";

  }


  .principal p {
      font-size: 20px;
      margin-bottom: 20px;
      max-width: 500px;
      color: #bbb;
      margin-bottom: 40px;
  }

  .botao {
      display: inline-block;
      font-weight: 700;
      padding: 15px 30px;
      background-color: #bbb;
      color: #6a0dad;
      font-weight: bold;
      border-radius: 20px
  }

  .titulo-secao {

      font-size: 42px;
      margin-bottom: 60px;
      position: relative;

  }

  .titulo-secao::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -15px;
      width: 100px;
      height: 4px;
      background-color: #6a0dad;
      ;

  }

  .grade-projetos {

      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
      gap: 10px;
      align-items: stretch;
  }

  .card-projeto {
      background-color: #0a0a0a;
      border-radius: 10px;
      overflow: hidden;
  }


  .img-projeto {
      width: 100%;
      height: 200px;
      object-fit: cover;
      margin-bottom: 20px;
  }

  .info-projeto {
      padding: 20px;
      color: #7610d6;
      font-weight: 500;

  }

  .info-projeto h3 {
      margin-bottom: 30px;
  }

  .info-projeto p {
      color: #bbb;
      margin-bottom: 15px;

  }

  .sobre {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 50px;
      align-items: center;
      max-width: 1000px;

  }

  .img-sobre {
      height: 500px;
      background-color: #0a0a0a;
      border-radius: 100px;
  }

  .conteudo-sobre h2 {
      margin-bottom: 30px;
  }

  .conteudo-sobre p {
      margin-bottom: 20px;
      color: #bbb;
  }

  .habilidades {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
  }

  .tag-habilidades {
      background-color: #6a0dad;
      ;
      color: #bbb;
      padding: 8px 15px;
      border-radius: 20px;
      margin-right: 10px;
      margin-bottom: 10px;
      font-size: 14px;

  }

  .botoes-contato {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      align-items: center;
      justify-content: center;
      align-items: center;
      max-width: 800px;
      margin: 0 auto;
  }

  .botao-contato {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 15px 25px;
      border-radius: 10px;
      font-weight: 500;
      min-width: 160px;
      text-decoration: none;
      color: white;

  }

  .botao-contato .icone {
      width: 20px;
      height: 20px;
      flex-shrink: 0;

  }

  .whatsapp {
      background-color: #25d366;
  }

  .email {
      background-color: #ea4335;
  }

  .github {
      background-color: #333;
  }

  .linkedin {
      background-color: #0077b5;
  }


  footer {
      padding: 20px 5%;
      text-align: center;
      border-top: 1px solid #222;
  }

  .efeito-cursor {
      cursor: pointer;
      transition: transform 0.2s ease-in-out;

  }

  .efeito-cursor:hover {
      transform: translateY(-15px);
  }

  img {
      max-width: 100%;
      height: auto;

  }

  @media (max-width: 768px) {

      header {
          padding: 20px;
          margin-left: 2px;

      }

      ul {
          gap: 10px;

      }

      .li a {
          font-size: 15px;

      }

      .principal {
          margin-left: 20px;
      }

      .principal h1 {
          font-size: 50px;
      }

      .secao {
          padding: 60px 20px;
      }

      .sobre {
          grid-template-columns: 1fr;
      }

      .img-sobre {
          height: auto;
      }

  }